body{
    font-family: 'Oxanium', cursive;
    height: 100%;
}

footer{
    position: fixed;
    top: 700px;
}

h1{
    border-bottom: 2px solid black;

}

.input{
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.input-erreur{
    border: 1px solid red;
}

.soumettre{
    font-family: 'Bungee', cursive;
    border-radius: 3px;
    width: 200px;
    padding: 0;
    font-size: 16px;
    background-color: rgb(0, 154, 243);
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.erreur_red{
    color: red;
}


.bouton_jeu{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    background-size: 90px;
    color: black;
    font-weight: normal;
}
.bg-carte{
    background-image: url(../images/pexels-anni-roenkae-2457284.jpg);

}

.jeu{
    margin-top: 40px;
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
}

.bg-image{
    background-color: rgb(174, 176, 238);
}

.carteOurverte{
    background-color: #fff;
}

.divCompteur{
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.hidden{
    display: none;
}